<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheets/Desktop02.css">
    <link href="https://fonts.googleapis.com/css2?family=Taviraj:wght@200&display=swap" rel="stylesheet">
    <title>Desktop02</title>
</head>

<body class="Desktop02">
    <div class="container">
        <div class="menu">
            <div class="icon02">
                <a href="#"><img src="images/icon02.png" alt="icon02" class="icon02"></a>
            </div>
            <ul>
                <li><a href="/Desktop02">หน้าแรก</a></li>
                <li><a href="/Desktop06v2">เช็คห้องว่าง</a></li>
                <li><a href="/Desktop03">เข้าสู่ระบบ</a></li>
                <li><a href="/Desktop04">สมัครสมาชิก</a></li>
            </ul>
        </div>
    </div>
</body>

</html>
